<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.geotweeter"
    android:versionCode="1"
    android:versionName="Wait, what?" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <permission
        android:name="de.geotweeter.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="de.geotweeter.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GeotweeterThemeLight"
        android:name=".Geotweeter" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".activities.TimelineActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewTweetActivity"
            android:label="@string/new_tweet_activity_title"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name=".activities.GeneralPrefsActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name=".activities.SettingsAccounts"
            android:label="@string/settings_accounts_title"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name=".activities.SettingsAccounts" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AuthenticateAccountActivity"
            android:label="@string/authenticate_account"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="de.geotweeter" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
        
        <receiver android:name=".services.NotificationDeleteReceiver" />

        <activity
            android:name=".activities.AccountPrefsActivity"
            android:label="@string/account_prefs"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service android:name=".services.TweetSendService" />

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/menu_about"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name=".activities.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.acra.CrashReportDialog"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>