<!DOCTYPE html>
<html>
	<head>
		<title>Geotweeter Crashes</title>
		<style>
			td, th, body {
				font-family: Verdana;
				font-size: 12px;
			}

			.border-top td {
				border-top: 1px solid #000;
			}

			.thin-border-top td {
				border-top: 1px dotted #aaa;
			}

			.grey, .grey a {
				color: #aaa;
			}
		</style>
	</head>

	<body>
		<%= yield %>
	</body>
</html>
